*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding:20px;
}

header h1 {
  font-size:45px;
}
  
body{
  background-color: #03121b;
  color:#4bb4fa;
}

main {
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .container-input h2 {
  font-size: 25px;
}

main .container-input h2 {
  font-size: 25px;
}

main .container-input span {
  color:#0088e2;
}

main .container-input .slider {
  -webkit-appearance: none;
  width:500px;
  height: 18px;
  border-radius: 15px;  
  background-color: #0088e2;
  outline: none;
  opacity: 0.7;
  margin:5px;
}
  
.container-input .button-cta{
  height:30px;
  width:90px;
  background-color: #003e68;
  border:0;
  border-radius: 4px;
  color:#a8dafc;
  font-size: 20px;
  cursor: pointer;
  margin-top: 7px;
  font-size: 12px;
  text-transform: uppercase;
}
  
.container-password{
  margin: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
  
.title{
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
} 
  
.password{
  text-align: center;
  background-color: rgba(0,0,0,0.40);
  border: 1px solid #313131;
  padding:15px;
  border-radius: 4px;
  font-size:20px;
  transition: transform 0.5s;
}

.password:hover{
  transform: scale(1.05);
  border-color: #4bb4fa;
}
  
.hide{
  display: none;
}
  
.tooltip{
  position: relative;
  top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  text-align: center;
}
  
.container-password:hover .tooltip{
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

footer {
  margin-top: 50px;
}

footer p {
  text-align:center;
}