*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(13, 231, 140);
    --secondary-color:#021d1d;
    --tertiary-color:rgb(1, 61, 36);
    --fourth-color: rgb(0, 94, 55);
    --fifth-color:rgb(0, 59, 35);
    --sixth-color:white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
body header h1 {
    text-transform: uppercase;
    font-size:20px;
    padding:40px;
    color: var(--primary-color);
}
main .calc {
    background-color: var(--primary-color);
    padding: 20px;
    width: 300px;
    border-radius: 20px;
}
#calc-display {
    width: 100%;
    height: 80px;
    font-size: 40px;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color:var(--sixth-color);
    background-color: var(--tertiary-color);
}
main .calc .calc-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
button {
    background-color: var(--fourth-color);
    color:var(--sixth-color);
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: var(--fifth-color);
}
.calc .calc-buttons .zero-button{
    grid-column: 1 / 3;
}
.calc .calc-buttons .calc-button{
    grid-row: 4 / 6;
    grid-column: 4;
    height: 100%;
}